@font-face {
    font-family: Mulish;
    src: url(/assets/fonts/Mulish-Italic-VariableFont_wght.ttf);
}

body{
    background-image: url(/assets/imgs/5053309.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Mulish;
    color: white;
    text-align: center;
}

h1 {
    font-size: 40px;
    border-radius: 1rem;
    color: hsla(0, 0%, 0%, .9);
    border: solid;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    animation: move linear 2000ms infinite;  
    box-shadow: 3px 3px 20px 5px rgba(249, 218, 40), -3px -3px 20px 5px rgba(249, 218, 40);
  }

h1::first-letter{
    font-size:60px;
}


.container{
    background: linear-gradient(rgb(0, 0, 0, 0.5),rgba(249, 218, 40, 0.5));
    border-radius: 2rem;
    padding: 2rem;

}

.title{
    border-bottom: solid;
    font-size: x-large;
}

@keyframes move {
    0% {
      text-shadow:
        4px -4px 0  rgba(249, 218, 40), 
        3px -3px 0  rgba(249, 218, 40), 
        2px -2px 0  rgba(249, 218, 40), 
        1px -1px 0  rgba(249, 218, 40),
        -4px 4px 0 rgba(249, 218, 40), 
        -3px 3px 0 rgba(249, 218, 40), 
        -2px 2px 0 rgba(249, 218, 40), 
        -1px 1px 0 rgba(249, 218, 40)
      ;
    }
    25% {    
      text-shadow:      
        -4px -4px 0 rgba(249, 218, 40), 
        -3px -3px 0 rgba(249, 218, 40), 
        -2px -2px 0 rgba(249, 218, 40), 
        -1px -1px 0 rgba(249, 218, 40),
        4px 4px 0  rgba(249, 218, 40), 
        3px 3px 0  rgba(249, 218, 40), 
        2px 2px 0  rgba(249, 218, 40), 
        1px 1px 0  rgba(249, 218, 40)      
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0  rgba(249, 218, 40), 
        -3px 3px 0  rgba(249, 218, 40), 
        -2px 2px 0  rgba(249, 218, 40), 
        -1px 1px 0  rgba(249, 218, 40),
        4px -4px 0 rgba(249, 218, 40), 
        3px -3px 0 rgba(249, 218, 40), 
        2px -2px 0 rgba(249, 218, 40), 
        1px -1px 0 rgba(249, 218, 40)
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 rgba(249, 218, 40), 
        3px 3px 0 rgba(249, 218, 40), 
        2px 2px 0 rgba(249, 218, 40), 
        1px 1px 0 rgba(249, 218, 40),
        -4px -4px 0  rgba(249, 218, 40), 
        -3px -3px 0  rgba(249, 218, 40), 
        -2px -2px 0  rgba(249, 218, 40), 
        -1px -1px 0  rgba(249, 218, 40)      
      ;
    }
    100% {
      text-shadow:
        4px -4px 0  rgba(249, 218, 40), 
        3px -3px 0  rgba(249, 218, 40), 
        2px -2px 0  rgba(249, 218, 40), 
        1px -1px 0  rgba(249, 218, 40),
        -4px 4px 0 rgba(249, 218, 40), 
        -3px 3px 0 rgba(249, 218, 40), 
        -2px 2px 0 rgba(249, 218, 40), 
        -1px 1px 0 rgba(249, 218, 40)
      ;
    }  
  }

/* keyframe
	h1 {
  color: hsla(0, 0%, 0%, .9);
  font: normal 140px Varela Round, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 100%;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0  rgba(249, 218, 40), 
      3px -3px 0  rgba(249, 218, 40), 
      2px -2px 0  rgba(249, 218, 40), 
      1px -1px 0  rgba(249, 218, 40),
      -4px 4px 0 white, 
      -3px 3px 0 white, 
      -2px 2px 0 white, 
      -1px 1px 0 white
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 white, 
      -3px -3px 0 white, 
      -2px -2px 0 white, 
      -1px -1px 0 white,
      4px 4px 0  rgba(249, 218, 40), 
      3px 3px 0  rgba(249, 218, 40), 
      2px 2px 0  rgba(249, 218, 40), 
      1px 1px 0  rgba(249, 218, 40)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0  rgba(249, 218, 40), 
      -3px 3px 0  rgba(249, 218, 40), 
      -2px 2px 0  rgba(249, 218, 40), 
      -1px 1px 0  rgba(249, 218, 40),
      4px -4px 0 white, 
      3px -3px 0 white, 
      2px -2px 0 white, 
      1px -1px 0 white
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 white, 
      3px 3px 0 white, 
      2px 2px 0 white, 
      1px 1px 0 white,
      -4px -4px 0  rgba(249, 218, 40), 
      -3px -3px 0  rgba(249, 218, 40), 
      -2px -2px 0  rgba(249, 218, 40), 
      -1px -1px 0  rgba(249, 218, 40)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0  rgba(249, 218, 40), 
      3px -3px 0  rgba(249, 218, 40), 
      2px -2px 0  rgba(249, 218, 40), 
      1px -1px 0  rgba(249, 218, 40),
      -4px 4px 0 white, 
      -3px 3px 0 white, 
      -2px 2px 0 white, 
      -1px 1px 0 white
    ;
  }  
}
*/